@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color-primary: #ff6060;
$color-secondary: #000;
$color-tertiary: #f6f6f6;
$color-background: #ffffff;

$font-family: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: $font-family;
  color: $color-secondary;
  background-color: $color-background;
}

h1 {
  color: $color-primary;
  font-weight: 500;
  font-size: 2.25rem;
}

p {
  color: $color-secondary;
  font-weight: 400;
  font-size: 1.125rem;
}

h2, h3 {
  font-weight: bold;
}