@import "../../styles/index.scss";

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-tertiary;
    width: 77.5rem;
    border-radius: 1.563rem;
    margin: 43px auto 43px auto;
    padding: 3.125rem;
    gap: 3.125rem;

    @media (min-width: 1024px) and (max-width: 1439px) {
        width: 95%;
        gap: 4.375rem;
        padding: 1.25rem; 
    }

    @media (max-width: 1023px) {
        background-color: $color-background;
        width: 100%; 
        gap: 1.25rem;
        margin: 0;
        padding-top: 1.375rem;
        padding-bottom: 1.375rem;
        padding: 1.25rem;
    }
}

.card {
    position: relative;
    height: 21.25rem;
    width: 21.25rem;
    border-radius: 0.625rem;
    cursor: pointer;

    @media (max-width: 1023px) {
        width: 100%;  
    }

    .card__image {
        object-fit: cover;
        height: 21.25rem;
        width: 21.25rem;
        border-radius: 0.625rem;

        @media (max-width: 1023px) {
            width: 100%; 
        }
    }

    .card__title {
        position: absolute;
        color: $color-background;
        font-weight: 700;
        bottom: 20px;
        left: 20px;
        right: 100px;
    }
}

