@import "../../styles/index.scss";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13.938rem;
  width: 77.5rem;
  border-radius: 1.563rem;
  margin: auto;

  @media (min-width: 1024px) and (max-width: 1439px) {
    width: 100%;
    padding: 0 1.25rem 0 1.25rem;
  }

  @media (max-width: 1023px) {
    height: 6.938rem;
    width: 100%;
    padding: 0 1.25rem 0 1.25rem;
  }
}

.banner__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1.563rem;
  filter: brightness(0.7);

  @media (max-width: 1023px) {
    border-radius: 0.625rem;
    width: 100%;
  }
}

.banner__title {
  color: $color-background;
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  height: auto;
  padding: 20px;
  position: absolute;
  z-index: 4;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1023px) {
    width: 89%;
    text-align: start;
    font-size: 1.5rem;
    justify-content: flex-start;
    padding: 1.25rem 80px 5rem 1.25rem;
  }
}

.page-home {
  .banner__image {
    filter: brightness(0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}
  
